.social-links {
  display: flex;
  justify-content: center;
  padding: 1.25rem;
  gap: 10px;

  a {
    --size: 28px;
    color: var(--clr-white);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--clr-white);
    border-radius: 50%;
    height: var(--size);
    width: var(--size);
  }

  svg {
    height: var(--fs-body);
  }
}
